@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Sometype Mono', monospace
    text-shadow: 1px 1px black

body
    background-color: white
    width: 100%
    height: 100vh
    overflow-x: hidden 

    .container_social_midia 
        position: fixed
        right: 20px
        top: 20px

        @include mixins.tablet
            width: 100%
            height: 100px
            top: 0px
            backdrop-filter: blur(10px)
            border-bottom: 1px solid gray
            right: 0px

        .container_social_midia_list
            display: flex
            gap: 40px
            list-style: none

            @include mixins.tablet
                align-items: center
                justify-content: right
                margin-right: 20px
                height: 100%

            @include mixins.mobile
                gap: 20px


            i 
                font-size: 2em
                cursor: pointer

                @include mixins.mobile
                    font-size: 1.5em


            &_github i
                color: white

            &_linkedin i
                color: blue

            
            i:hover
                transition: variables.$animation-transition
                transform: scale(1.2) 

    .container_Information.container_Active
        @include mixins.flex-center
        @include mixins.max-container
        gap: 20px
        padding: 0px 10%

        @include mixins.tablet
            padding: 150px 10% 0px 10%

        @include mixins.big-mobile
            padding: 150px 5% 0px 5%

        @include mixins.mobile
            padding: 150px 2% 0px 2%

        .container_Information_title_h1
            @include mixins.title-border
            margin-bottom: 50px
            padding: 0px 5px
            color: white
            font-size: 1.8em
            letter-spacing: 1px
            text-transform: uppercase
            text-align: center

            @include mixins.big-mobile
                font-size: 1.3em

            @include mixins.mobile
                font-size: .9em
                padding: 0px 2px
        
        .container_Information_title_h2
            @include mixins.title-border
            font-size: 1.6em
            text-transform: uppercase
            letter-spacing: 2px
            padding: 0px 5px
            color: white

            @include mixins.big-mobile
                font-size: 1.2em

            @include mixins.mobile
                font-size: .8em

        .container_Information_title_h3
            text-transform: capitalize
            align-self: start
            font-size: 1.4em
            color: white

            @include mixins.big-mobile
                font-size: 1em

            @include mixins.mobile
                font-size: .7em


        .container_Information_text
            color: white 
            line-height: 28px
            font-size: 1em
            text-transform: capitalize
            text-align: justify
            text-indent: 35px
            margin-bottom: 50px
            transition: variables.$animation-transition

            @include mixins.mobile
                font-size: .9em
                line-height: 24px
                margin-bottom: 25px

            a
                color: blue
                text-decoration: none

        .container_information_slide
            @include mixins.flex-center
            align-self: start
            flex-direction: row
            gap: 10px
            height: 380px
            width: 400px

            @include mixins.tablet
                align-self: center
                margin-bottom: 20px

            @include mixins.mobile
                height: 320px
                width: 330px

            &_img
                border: 10px double rgba(9, 56, 167, 0.323)
                height: 100%
                width: auto
                transition: variables.$animation-transition

            &_list
                height: 100%
                width: 100%
                display: flex
                flex-direction: row
                flex-wrap: wrap
                list-style: none
                gap: 10px

                li
                    box-shadow: 4px 4px 15px black
                    cursor: pointer
                    width: auto
                    height: 18%

                    @include mixins.mobile
                        height: 17%

                img
                    width: 100%
                    height: 100%
                    transition: variables.$animation-transition

                &_img_selected
                    border: 2px double rgb(9, 56, 167)

                li:hover
                    border: 2px double rgba(9, 56, 167, 0.323)
                    transition: .7s



        .container_Information_iframe
            height: 320px
            width: 550px
            align-self: end
            position: absolute
            top: 45vh
            border: 20px double rgba(9, 56, 167, 0.323)
            transition: variables.$animation-transition

            @include mixins.tablet
                position: relative
                align-self: center
                top: auto

            @include mixins.big-mobile
                width: 98vw
                height: 58vw
                border: 10px double rgba(9, 56, 167, 0.323)
    
    .container_Information
        display: none

    #container_1
        @include mixins.bg-img('../img/bg-1.jpg')
    #container_2
        @include mixins.bg-img('../img/bg-2.jpg')
    #container_3
        @include mixins.bg-img('../img/bg-3.jpeg')
    #container_4
        @include mixins.bg-img('../img/bg-4.png')

    .container_navbar
        width: 40px
        height: 200px
        position: fixed
        left: 2%
        transform: translateY(-50%)
        top: 50%

        @include mixins.tablet
            top: 50px


        ul
            list-style: none
            @include mixins.flex-center
            flex-direction: column
            justify-content: space-between
            height: 100%

            @include mixins.tablet
                flex-direction: row
                width: 200px
            
            @include mixins.mobile
                width: 120px

            .active 
                background-color: white
                transform: scale(1.2)

            li
                cursor: pointer
                padding: 10px
                background-color: gray
                border-radius: 50%

                &:hover
                    background-color: white
                

            